*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}


.wrapper-1080 {
    margin: 0 auto;
    width: 1080px;
    box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.2);  
}

//-----------------HEADER---------------------//

.page-header {
    padding-left: 34%;
    padding-top: 7%;
    height: 200px;
    background-color: #154365;
    color: white;
}

.header-photo {
    position: absolute;

}

.header-menu {
    padding-top: 3%;
}

.header-menu__list {
    display: flex;
}

.header-menu__item {
    height: 20px;
    margin-right: 20px;
}

.header-menu__item > a {

    color: white;

    &:active {
        color: white;
    }

    &:visited {
        color: white;
    }

    &:hover {
        transition-property: border-bottom;
        transition-duration: 200ms;
        border-bottom: 2px solid white;
    }
}


.block-title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 61px;
}

.header-title__title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.header-title__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

//------------------PAGE-MAIN-----------------//

.page-main {
    display: grid;
    grid-template-columns: 300px 1fr;
    position: relative;
    background-color: white;
}


//---------SIDE-BLOCK------------//

.side-block {
    position: relative;
    top: -10%;
    left: 10%;
    padding: 6%;
    background-color: #e3e9e9;
}

.side-block__photo {
    margin: 0 auto;

    &> img {
        width: 100%;
    }
}

.education__item {
    list-style: inside;
}

.education__item > a {

    color: #0080de;

    &:hover {
        transition: color 200ms;
        color: #154365;
    }

    &:active {
        color: #0080de;
    }
}

//---------MAIN-CONTENT------------//

.main-content {
    padding: 3% 9%
}

.skills__item {
    list-style: inside;
}

.code-example__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.code-example__task > p {
    padding-top: 8px;
}

.code-example__code {
    display: block;
    padding: 8px;
    background-color: #e3e9e9;
}


.projects__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects__item {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 0 0px;
}

.projects__item a > img {
    &:hover {
        transition: filter 500ms;
        filter: opacity(0.8);
    }
}

//------------FOOTER-------------////

.page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: larger;
    color: white;
    background-color: #154365;
}

.page-footer__link-github > a {
    &:active {
        color: white;
    }

    &:hover {
        transition-property: border-bottom;
        transition-duration: 200ms;
        border-bottom: 2px solid white;
    }

    &:visited {
        color: white;
    }
}

.page-footer__logo-rsschool {
    width: 100px;
}

.page-footer__logo-rsschool > a > img:hover {
    transition: width 200ms;
    width: 110%;
}